$primary-color: #4674e9;
$secondary-color: #1c3d99;

$accent-color: #70b3ff;

$background-color-1: #f9fbff;
$background-color-2: #1c3d99;
$background-color-3: #16407e;

$text-color: #2a2a2a;
$text-color-2: #ffffff;
$text-color-3: #4674e9;

$skills-background-color: rgba(135, 206, 250, 0.2);

$font-stack: "Montserrat", sans-serif;
