$primary-color: #7e9fce;
$secondary-color: #204780;
$background-color-1: #fff;
$background-color-2: #204780;
$background-color-3: #244675;
$text-color: #333;
$text-color-2: #fff;
$text-color-3: #7e9fce;
$font-stack: "Montserrat", sans-serif;
