@import "../../styles/variables";

.skills-container {
  background-color: $skills-background-color;
  padding: 2rem 3rem 3rem;
  text-align: center;

  .skills-title {
    color: $text-color;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .skills-bubbles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .skills-container {
    .skills-title {
      font-size: 2rem;
    }

    .skills-bubbles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  }
}
