.skills-container {
  background-color: #7e9fce;
  padding: 3rem 2rem;
  text-align: center;
}

.skills-title {
  color: white;
  margin-bottom: 2rem;
  margin-top: 0;
}

.skills-bubbles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skill-bubble {
  background: white;
  padding: 1rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.skill-bubble:hover {
  transform: scale(1.1);
}

.skill-bubble img {
  width: 60px;
  height: 60px;
}

.skill-bubble p {
  margin: 1px;
}
